/node_modules
/public/hot
/public/storage
/public_html
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.env
/.htaccess
/.user.ini
_ide_helper.php
