html {
  background-color: $background-color;
  color: rgba($primary-text-color, 0.87);
}

body {
  min-height: 100vh;

  #app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
      flex: 1 0 auto;
      padding: {
        top: 1rem;
        bottom: 1rem;
      }
    }
  }
}

header.page-header {
  background-image: url('/images/banner.jpg');
  background-size: cover;

   div{
    @extend .container;

    text-align: right;
    margin: {
      top: 4rem;
      bottom: 2.5rem;
    }
  }

}

/**
 * Tweaks and fixes for default materialize-css settings
 */

@import "navbar";
@import "typography";
@import "cards";
@import "forms";