@require '../../../node_modules/mdi/css/materialdesignicons.css'
@require '../../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $blue.darken-2
  accent: $light-blue.accent-2
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}

@require '../../../node_modules/vuetify/src/stylus/main'

.application{
  display: flex;
  flex-direction: column;

  main{
    flex-grow: 1;
  }
}
.toolbar{
  background-color: alpha($blue-grey.darken-3, 0.8) !important
  margin: 0 -1rem;
  width: 100vw;
  .btn.flat{
    background: none;
  }
}